---
// const Video = "Dog Water"
import styles from "../styles/comp-styles/header.module.scss";
---

<div class={styles.Header}>
  <div class={styles.Background}>
    <video
      controls={false}
      autoplay={"autoPlay"}
      loop
      muted
      src={""}
      class={styles.Video}></video>
  </div>
  <div class={styles.Diffuser}></div>
  <div class={styles.Content_Container}>
    <h1 class={styles.Title}>Devloper Rook</h1>
  </div>
</div>
