---
import "../styles/global.scss";
import styles from "../styles/sec-styles/grid.module.scss";

import { Image, Picture } from "@astrojs/image/components";

const { frontmatter, url } = Astro.props;
const { title, description, date, category, author, image, slug } = frontmatter;
---

<div class={styles.Content_Container}>
  <a href={url}>
    <div class={styles.Video_Card}>
      <div class={styles.Image_Container}>
        <Image
          src={image.src}
          alt={image.alt}
          class={styles.Image}
          width={500}
          height={250}
          format={"jpg"}
          fit={"cover"}
          quality={80}
        />
      </div>

      <div class={styles.TitleContainer}>
        <p class={styles.Video_Title}>{frontmatter.title}</p>
        <p class={styles.Text}>{frontmatter.author}</p>
      </div>
      <p class={styles.Text}>{new Date(date).toLocaleDateString()}</p>
      <p class={styles.Description}>{frontmatter.description}</p>
    </div>
  </a>
</div>
