---
import MainLayout from "./MainLayout.astro";
import MainHead from "../components/MainHead.astro";

import "../styles/global.scss";

import { slugify } from "../utilities/format";
import {Image, Picture} from "@astrojs/image/components"
import BackButton from "../components/backButton"

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---
  
<MainHead title={"Rook |"} />
<MainLayout>
  <div class="LogSection">
    <BackButton url={'/logs'} client:load />
    <div class={"Image_Container"}>
      <Image
        src={image.src}
        alt={image.alt}
        class={"Image"}
        width={500}
        height={250}
        format={"jpg"}
        fit={"cover"}
        quality={80}
        class="Image"
      />
    </div>
    <h1 class="LogTitle">{title}</h1>
    <div class="AuthorDate">
      <p class="Author">{author}</p>
      <p class="Text">{new Date(date).toLocaleDateString()}</p>
    </div>
    <p class="Text">{description}</p>
    ----------------------------------------------------------------
    <slot />
  </div>
</MainLayout>
